{% extends 'base.html' %}
{% load define_action %}

{% block title %} Home {% endblock %}

{% block content %}
<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Clientes Fibra do IXC</h1>
          </p>
        </div>
      </p>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th>Nome</th>
                <th>MAC</th>
              </tr>
            </thead>
            <tbody>
              {% for cliente in clientes %}
                <tr>
                  <td>{{ cliente.nome }}</td>
                  <td>{{ cliente.mac }}</td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="5">Nenhum cliente encontrado.</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <hr>
    </div> <!-- /container -->
    <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="delete_modal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="delete_modal">Excluir ONU?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Tem certeza que deseja remover essa ONU do sistema?
          </div>
        </div>
      </div>
    </div>
</main>

<footer class="container">
    <p>&copy; Company 2017-2020</p>
</footer>

{% endblock %}