{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Nokia Users List</h1>
            <p>
                <a href="{% url 'olt:update_users' %}">
                    <button type="button" class="btn btn-Danger">Atualizar</i></button>
                </a>
            </p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <h3>Placas da OLT</h3>
            <table class="table table-striped table-dark">
                <thead>
                  <tr>
                    <th scope="col">Slot</th>
                    <th scope="col">Observações</th>
                    <th scope="col">Ações</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                        <td>
                        Slot 1
                        </td>
                        <td>ssss</td>
                        <td>
                        <button type="button" class="btn btn-Danger" data-toggle="modal" data-target="#reset_slot_modal" data-slot="1">Reiniciar a placa</button>
                        </td>
                        
                    </tr>
                    <tr>
                      <td>
                        Slot 1
                      </td>
                      <td>
                        kkkk
                     </td>
                        <td>
                          <button type="button" class="btn btn-Danger" data-toggle="modal" data-target="#reset_slot_modal" data-slot="2">Reiniciar a placa</button>
                        </td>
                        
                    </tr>
                </tbody>
              </table>
        </div>
        <div class="row">
            <h3>Portas</h3>
            <table class="table table-striped table-dark">
                <thead>
                  <tr>
                    <th scope="col">Porta</th>
                    <th scope="col">Quantidade de Usuários</th>
                    <th scope="col">Atualização</th>
                    <th scope="col">Ações</th>
                  </tr>
                </thead>
                <tbody>
                    
                    {% for olt_users in olt_users_list %}
                    <tr>
                        <td>1/1/{{ olt_users.slot }}/{{ olt_users.port }}</td>
                        <td>Users: {{ olt_users.users_connected }}</td>
                        <td>{{ olt_users.last_updated | date:'d-m-Y' }}</td>
                        <td><a href="{{ olt_users.slot }}/{{ olt_users.port }}/">Detalhes</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
           
        </div>

        <hr>

    </div> <!-- /container -->
    <div class="modal fade" id="reset_slot_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Excluir ONU?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Tem certeza que deseja remover essa ONU do sistema?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-Danger">Remover</button>
            </div>
          </div>
        </div>
      </div>

</main>

<footer class="container">
    <p>&copy; Company 2017-2020</p>
</footer>
{% endblock %}