{% extends 'base.html' %}
{% load define_action %}

{% block title %} Home {% endblock %}

{% block content %}
<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Nokia Users List</h1>
            <p>
              <a href="{% url 'olt:update_values' port=port slot=slot %}">
                <button type="button" class="btn btn-Danger">Atualizar</button>
            </a>
          </p>
          <p>
            <a href="{% url 'olt:get_duplicated'%}">
              <button type="button" class="btn btn-Danger">Atualizar</button>
          </a>
        </p>
        </div>
      </p>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <table class="table table-striped table-dark">
              <thead>
                <tr>
                  <th scope="col"><a href="?sort=pon">Pon</a></th>
                  <th scope="col"><a href="?sort=position">Posição</a></th>
                  <th scope="col"><a href="?sort=serial">Serial</a></th>
                  <th scope="col"><a href="?sort=oper_state">Oper State</a></th>
                  <th scope="col"><a href="?sort=olt_rx_sig">Signal RX</a></th>
                  <th scope="col"><a href="?sort=desc1">PPPoE</a></th>
                  <th scope="col"><a href="?sort=desc2">Descrição</a></th>
                  <th scope="col">Ações</th>
                </tr>
              </thead>
              <tbody>
                {% for line in removable_list %}
                <tr>
                  <td>{{line.pon}}</td>
                  <td>{{line.position}}</td>
                  <td>{{line.serial}}</td>
                  <td>{{line.oper_state}}</td>
                  <td>{{line.olt_rx_sig}}</td>
                  <td>{{line.desc1}}</td>
                  <td>{{line.desc2}}</td>
                  <td>
                    <button type="button" class="btn btn-Warning" data-toggle="modal" data-target="#delete_modal" data-id={{line.position}}>
                      <i class="fa fa-refresh"></i></button>
                    <button type="button" class="btn btn-Trash" data-toggle="modal" data-target="#delete_modal" data-id={{line.position}}>
                      <i class="fa fa-danger"></i></button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
        <hr>
    </div> <!-- /container -->
    <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="delete_modal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="delete_modal">Excluir ONU?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Tem certeza que deseja remover essa ONU do sistema?
          </div>
        </div>
      </div>
    </div>
</main>

<footer class="container">
    <p>&copy; Company 2017-2020</p>
</footer>

{% endblock %}